.upperdiv {
    display: grid;
    grid-template-rows: 0.1fr 1fr repeat(3, 0.8fr) 0.5fr 0.3fr 0.3fr 1.5fr 0.4fr 1fr 1fr;
    grid-template-columns: 1fr 0.5fr 1.5fr 4fr 1fr 1fr 5fr 1fr;

    gap: 0px;
}

h2 {
    font-family: 'Rosario';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 50px;
    margin-bottom: 20px;
}

/* upperdiv */
.gi1 {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 6;

    color: #222222;
}

.gi3 {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 3;
    grid-column-end: 5;

    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 4fr;

}

.gi3-1,
.gi4-1,
.gi5-1 {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;

    place-self: center;
}

.gi3-2,
.gi4-2,
.gi5-2 {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;

    align-self: self-end;
}

.gi3-3,
.gi4-3,
.gi5-3 {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
}

.gi4 {
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 3;
    grid-column-end: 5;

    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 4fr;

    background-color: rgba(9, 166, 109, 0.05);
}

.gi5 {
    grid-row-start: 5;
    grid-row-end: 6;
    grid-column-start: 3;
    grid-column-end: 5;

    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 4fr;
}

.gi6 {
    grid-row-start: 6;
    grid-row-end: 7;
    grid-column-start: 4;
    grid-column-end: 5;
}

.gi7 {
    grid-row-start: 1;
    grid-row-end: 6;
    grid-column-start: 5;
    grid-column-end: 8;

    max-width: 100%;
}

.gi8 {
    grid-row-start: 3;
    grid-row-end: 7;
    grid-column-start: 6;
    grid-column-end: 8;

    max-width: 100%;
}

/* lowerdiv */
.gi9 {
    grid-row-start: 9;
    grid-row-end: 12;
    grid-column-start: 2;
    grid-column-end: 5;

    max-width: 100%;
}
.gi10 {
    grid-row-start: 9;
    grid-row-end: 10;
    grid-column-start: 6;
    grid-column-end: 9;

    color: #222222;
}
.gi12 {
    grid-row-start: 10;
    grid-row-end: 11;
    grid-column-start: 6;
    grid-column-end: 8;

    align-self: center;
    font-weight: bold;
}
.gi13 {
    grid-row-start: 10;
    grid-row-end: 11;
    grid-column-start: 7;
    grid-column-end: 8;

    align-self: center;
    margin-left: 25px;
}
.gi14 {
    grid-row-start: 10;
    grid-row-end: 13;
    grid-column-start: 7;
    grid-column-end: 9;

    max-width: 80%;
    margin-left: 20%;

    background-blend-mode: darken;
    background-color: rgba(9, 166, 109, 0.05);
}
.gi15 {
    grid-row-start: 8;
    grid-row-end: 13;
    grid-column-start: 1;
    grid-column-end: 9;

    background-color: rgba(9, 166, 109, 0.05);
}
